body, body * {
    box-sizing: border-box;
    border: 1px solid red;
}
body {
    height: 500px;
}
header {
    height: 10%;
}
div.cols {
    height: 80%;
    width: 100%;
    display: table;
}
.nav {
    display: table-cell;
}
.pod-nav {
    height: 50%;
}
div.center-col {
    display: table-cell;
}
section  {
    display: table-cell;
}
footer {
    height: 10%;
}