* {
    box-sizing: border-box;
    font-family:  sans-serif;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6em;
}
img {
    display: none;
}
body::after {
    content: "Авторские права защищены! 2021";
}